{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IPL Data Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


        <link rel="stylesheet" type="text/css" href="{% static 'iplApp/style.css' %}">

    </head>
    <body>
        <div class="main">
            <a href="/matches_per_year"><button class="btn btn-primary btn-md">Matches Per Year</button></a>
            <a href="/matches_won_by_team"><button class="btn btn-primary btn-md">Matches Won By Team</button></a>
            <a href="/extra_runs_conceded_by_team_in_2016"><button class="btn btn-primary btn-md">Extra Runs Conceded</button></a>
            <a href="/top_economical_bowlers_2015"><button class="btn btn-primary btn-md">Top Economical Bowlers</button></a>
            <a href="/batting_average"><button class="btn btn-primary btn-md">Top Batting Average</button></a>
        </div>
    </body>
</html>