<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 250px; height: 440px; margin: 0 auto"></div>

<script>
//   on page load a fetch request will be send
  fetch('http://localhost:8000/api/v1/api_matches_won_by_team')
  .then(resp => resp.json())
  .then( data => plot_chart(data))

//   function for extracting data
  function generate_data_as_suitable_to_graph(data){
    seasons = []
    diff_teams = []
    per_year_win = {}
    for(let i=0; i < data['data'].length; i++){
        if(seasons.indexOf(data['data'][i]['season']) === -1){
            seasons.push(data['data'][i]['season'])
        }
        if(diff_teams.indexOf(data['data'][i]['winner']) === -1 & data['data'][i]['winner'] != null ){
            diff_teams.push(data['data'][i]['winner'])
            per_year_win[data['data'][i]['winner']] = []
        }
    }
    for(let i=0; i < data['data'].length; i++){
            seasons.forEach(value =>{
                temp_arr = []
               if(data['data'][i]['season'] == value && per_year_win.hasOwnProperty(data['data'][i]['winner'])){
                temp_arr.push(value)
                temp_arr.push(data['data'][i]['win'])
                per_year_win[data['data'][i]['winner']].push( temp_arr)
               }
            });
    }
    per_season_winner = {}
    for(let element in per_year_win){
        arr = []
        seasons.forEach(value => {
            temp = 0

            per_year_win[element].forEach(val=>{
              if(val[0] == value){
                arr.push(val[1])
                temp += 1
              }
            })
            if(temp == 0){
                arr.push(0)
            }
        })
        per_season_winner[element] = arr
    }
    return [per_season_winner, seasons]
  }


  function plot_chart(data){
        generated_data = generate_data_as_suitable_to_graph(data)
        team_win_data = Object.values(generated_data[0])
        Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Matches won by teams in all years'
        },
        xAxis: {
            categories: generated_data[1]
        },
        yAxis: {
            min: 0,
            title: {
            text: 'No of match'
            },
            stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (
                Highcharts.defaultOptions.title.style &&
                Highcharts.defaultOptions.title.style.color
                ) || 'gray'
            }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            name: 'CSK',
            data: team_win_data[0]
        }, {
            name: 'DC',
            data: team_win_data[1]
        }, {
            name: 'DD',
            data: team_win_data[2]
        },
        {
            name: 'KXIP',
            data: team_win_data[3]
        },
        {
            name: 'KKR',
            data: team_win_data[4]
        },
        {
            name: 'MI',
            data: team_win_data[5]
        },
        {
            name: 'RR',
            data: team_win_data[6]
        },
        {
            name: 'RCB',
            data: team_win_data[7]
        },
        {
            name: 'KTK',
            data: team_win_data[8]
        },
        {
            name: 'PW',
            data: team_win_data[9]
        },
        {
            name: 'SH',
            data: team_win_data[10]
        },
        {
            name: 'GL',
            data: team_win_data[11]
        },
        {
            name: 'RPSS',
            data: team_win_data[12]
        },
        {
            name: 'RPS',
            data: team_win_data[13]
        }
        ]
        });
  }
</script>
